@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-stratova-dark: #0f182b;
  --color-stratova-blue: #1d7eb6;
  --color-stratova-green: #83b620;
  --color-stratova-blue-dark: #12557a;
  --breakpoint-xs: 480px;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #ffffff;
  color: #0a0f25;
  overflow-x: hidden;
}
